@import "variables";
@import "headings";

@mixin margin-color {
	background: #65c1c8;
}

@mixin content-color {
	background: white;
}

@mixin column-height {
	height: 210px;
}


.ink-grid {
	padding-left: 0;
	padding-right: 0;
}

.row-1 {
	background: #CDEEEC;
	height: 135px;
}


.row-2 {
	height: 205px;
	background: #CDEEEC;
}

.col-2 {
	background: white;
	border-radius: 60px 0px 0px 0px;

	& .main-logo {
		height: 300px;
		width: 450px;
		margin-top: -110px;
		margin-left: 15px;
		padding-top: 50px;
		padding-bottom: 0px;
	}
}

.col-3 {
	background: white;
	border-radius: 0px 60px 0px 0px;
}

li {
	list-style: none;
	display: inline;
}

.main-header-nav {
	margin-top: 90px;
	margin-left: -40px;
}

.about {
	background: #78CBD0;
	color: white;
	padding: 3px 30px 3px 30px;
	border-radius: 40px;
}

.content {
	background: #8DB639;
	color: white;
	padding: 3px 35px 3px 30px;
	border-radius: 40px;
}

.blog {
	background: #6F308C;
	color: white;
	padding: 3px 40px 3px 40px;
	border-radius: 40px;
}

.press {
	background: #E9168C;
	color: white;
	padding: 3px 30px 3px 35px;
	border-radius: 40px;
}

.main-tagline {
	margin-left: -35px;
	width: 800px;
}

.row-3 {
	height: 40px;
	background: #F1BEC9
}

ul.middle-nav {
	margin: 0px;
	padding-top: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 23px;
	font-family: serif;
	line-spacing: 22px;
	color: #74204F
}


li.buy {
	padding: 0px 60px 0px 20px;
	}

.sell {
	padding: 0px 60px 0px 20px;
	}

.how {
	padding: 0px 60px 0px 20px;
	}

.links {
	padding: 0px 60px 0px 20px;
}

li.community {
	padding: 0px 60px 0px 20px;
}

input {
	border: solid #E29CA9;
	border-radius: 60px;
	width: 115px;
	height: 25px;
	font-size: 10px;
	padding: 0px 40px 0px 35px;
	margin: 4px 50px 0px 0px;
	background-image: url(https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/search.gif);
	background-repeat: no-repeat;
	background-position: 12px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #F5D1D9;
    }

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #F5D1D9;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #F5D1D9;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #F5D1D9;
}


.col-20-ml,
.col-21-main-content,
.col-22-img1,
.col-23-mr {
	@include column-height;
}


.col-20-ml,
.col-23-mr {
	@include margin-color;
}

.col-21-main-content,
.col-22-img1 {
	@include content-color;
}

.slogan {
	color: #7BAD23;
	font-size: 2.2rem;
	margin-top: 20px;
	margin-bottom: 0;
}

.sub-slogan {
	font-size: 1.75rem;
	color: #2A929B;
	margin-top: 0;
}

ul li {
	list-style: none;
	display: inline-block;
}

.img-twins {
	padding-top: 50px;
	padding-right: 20px;
}





.col-24-ml,
.col-25-center-content,
.col-26-img2,
.col-27-mr {
	height: 180px;
}


.col-24-ml,
.col-27-mr {
	@include margin-color;
}

.col-25-center-content,
.col-26-img2 {
	@include content-color;
}

.shop-now {
	padding-left: 20px;
}

.img-triplets {
	padding-top: 20px;
	padding-right: 20px;
}


.col-28-ml,
.col-29-bottom-content,
.col-30
.col-31-img3,
.col-32-mr {
	@include column-height;
}


.col-28-ml,
.col-32-mr {
	@include margin-color;
}

.col-29-bottom-content,
.col-31-img3 {
	@include content-color;
}

.tree {
	padding-left: 90px;
}

.img-quadruplets {
	padding-top: 20px;
	padding-right: 20px;
}



.col-33-ml,
.col-34-footer-dotted-line,
.col-35-mr {
	height: 15px;
}


.col-33-ml,
.col-35-mr {
	@include margin-color;
}

.col-34-bottom-content {
	@include content-color;
}

.dotted-line ul {
	margin-top: 0;
}

.dotted-line {
	display: inline-block;
}




.col-36-ml,
col-37-facebook,
.col-38-twitter, 
.col-39-boards
.col-40-offers
.col-31-mr {
	height: 170px;
}

.col-36-ml,
.col-41-mr {
	@include margin-color;
}

.col-37-facebook,
.col-38-twitter,
.col-39-boards,
.col-40-offers {
	padding-top: 20px;
	padding-left: 40px;
}

.col-37-facebook {
	border-bottom-left-radius: 1em 5em;
}



.col-42-ml,
col-43-bottom-nav,
.col-44-mr {
	height: 170px;
}

.col-42-ml,
.col-43-bottom-nav,
.col-44-mr {
	@include margin-color;
}

.bottom-nav {
	text-align: center;
	color: #CBEDEC;
}

.bottom-nav ul {
	padding-left: 0;
}

.col-43-bottom-nav li {
	display: inline-block;
	padding-left: 30px;
	font-size: 1.15em;
}

