doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/ink/dist/css/ink-flex.min.css")
    link(rel="stylesheet" href="css/main.css")
  
   .ink-grid 
      .column-group.row-1
        .all-100
      .column-group.row-2
        .all-10.col-1
        .all-40.col-2
            img.main-logo(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
        .all-40.col-3
            ul.main-header-nav
              li.about About
              li.content Content
              li.blog Blog
              li.press Press
            img.main-tagline(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")
        .all-10.col-4
      .column-group.row-3
        .all-100.col
            ul.middle-nav
              li.buy Buy
              li.sell Sell
              li.how How it Works
              li.links Links
              li.community Community
              input(type="text", placeholder="Search")





   

 



       


























































































































