doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="/vendor/ink/dist/css/ink-flex.min.css")


  body
    .ink-grid
      .column-group.horizontal-gutters
        .all-50.div1
        .all-50.div2
 



       




