doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title My Title
    link(rel="stylesheet" href="/vendor/ink/dist/css/ink-flex.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
   .ink-grid
      .column-group.row-1
        .all-70.row-1-col-1
        .all-30.row-1-col-2
          .login
            p sign in | sign up
      .column-group.row-2
        .all-10.col-1
        .column-group.all-80.col-2
          main-logo.xlarge-50.large-60.medium-40.small-100.tiny-100
            img.main-logo(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
          .main-header-nav.xlarge-50.large-40.medium-20.small-100.tiny-100
            ul
              li.about About
              li.content Content
              li.blog Blog
              li.press Press
              img.main-tagline(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")
        .all-10.col-4
      .column-group.row-3
        .middle-nav.xlarge-100.large-100.medium-50.small-50.tiny-10
          ul.middle-nav
            li.buy: a(href="pagetwo.html") Buy
            li.sell Sell
            li.how How it Works
            li.links Links
            li.community Community
            input(type="text", placeholder="Search")

      .column-group.main-wrapper-group
        .all-10.col-20-ml
        .all-80.content-div
          .column-group
            .all-60.medium-100.tiny-100.small-100.xsmall-100.col-21-main-content
              .main-content-wrapper
                ul
                  li.slogan We're making one aspect of life easier for parents of multiples:
                ul
                  li.img
                  img.slogan-image(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/owls/owl_bright_blue_32.png")
                  li.sub-slogan buying and selling sets of gently used clothes!
              .shop-now
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/left_2_shop_now.png")
              .img-tree
                img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/tree.png")
            .all-40.medium-100.tiny-100.small-100.xsmall-100.content-images
              .col-22-img1
                .img-twins
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/twins.jpg")
                .img-triplets
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/triplets.jpg")
                .img-quadruplets
                  img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/children/quads.jpg")
        .all-10.col-23-mr
      .column-group
        .all-10.col-33-ml
        .all-80.col-34-footer-dotted-line
          .hr
        .all-10.col-35-mr
      .column-group
        .all-10.col-36-ml
        .all-20.col-37-facebook
          img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/facebook_callout.png")
        .all-20.col-38-twitter
          img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/twitter_callout.png")
        .all-20.col-39-boards
          img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/message_board_callout.png")
        .all-20.col-40-offers
          img(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/homepage/special_offers_callout.png")
        .all-10.col-41-mr
      .column-group
        .all-10.col-42-ml
        .all-80.col-43-bottom-nav
          .bottom-nav
            ul
              li
                p Link here
              li
                p |
              li
                p Link here
              li
                p |
              li
                p Link here
              li
                p |
              li
                p Link here
              li
                p |
              li
                p Link here
              li
                p |
              li
                p Link here
        .all-10.col-44-mr
    script(src="//bower_components/jquery/dist/jquery.js")
    script(src="//bower_components/lodash/lodash.js")
    script(src="//bower_components/moment/moment.js")
    script(src="//app/js/main.js")

