html(lang="en-US")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title My Title
		link(rel="stylesheet" href="/vendor/ink/dist/css/ink-flex.min.css")
		link(rel="stylesheet" href="css/main.css")
		//- Ink-grid is manditory for colums to work
		.ink-grid
			.column-group.row-1
				.all-70.row-1-col-1
				.all-30.row-1-col-2
					.login
						p sign in | sign up

			.column-group.row-2
				.all-10.col-1
				.column-group.all-80.col-2
						main-logo.xlarge-50.large-60.medium-40.small-100.tiny-100
							img.main-logo(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/savings-multiplied-logo.png")
						.main-header-nav.xlarge-50.large-40.medium-20.small-100.tiny-100
							ul
								li.about About
								li.content Content
								li.blog Blog
								li.press Press
								img.main-tagline(src="https://raw.githubusercontent.com/elizabrock/SavingsMultipliedRedux/master/app/assets/images/tagline.png")
				.all-10.col-4

			.column-group.row-3
				.middle-nav.xlarge-100.large-100.medium-50.small-50.tiny-10
						ul.middle-nav
							li.buy Buy
							li.sell Sell
							li.how How it Works
							li.links Links
							li.community Community
							input(type="text", placeholder="Search")

			.column-group.row-2.main-wrapper-group.pagetwo
				.all-10.col-1
				.column-group.all-80.col-5
					.side-nav.all-15.pagetwo
						h4.side-nav__title Limit your search by:
						.ink-form
							.control-group.append-button.side-nav__search
								input(type="text")
								button.ink-button Search
						.column-group
							.all-33
								p Condition:
							.all-33.side-nav__checkbox
								input(type="checkbox")
								input(type="checkbox")
							.all-33.side-nav__label
								p New
								p Gently Used
						p SIZE (ADD BUTTONS)
						p SEASON (ADD BUTTONS)
						p TYPE (ADD BUTTONS)
						p BRAND (ADD DROPDOWN)
					.all-60.main-content
						h5 All - Twin - B/G
						.ink-navigation
							ul.menu.horizontal
								li.heading.active Home
								li
									a(href="#") Sort By
										ul.submenu
											li Price
											li Size
											li Name
								li prev.
								li page num.
								li next
								li view all

						.column-group
							.all-25
								ul
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
							.all-25
								ul
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
							.all-25
								ul
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
							.all-25
								ul
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
									img(src="https://lh5.ggpht.com/jAVgfROSWqvQBA2xc6XP1m9uJ3TxGFIIhUu-NiyrZkZljPvpZqDjR_2HkPOL2oqRs1ay=w170")									
									li IMAGE HERE
				.all-10.col-4



		.column-group
			.all-10.col-42-ml
			.all-80.col-43-bottom-nav
				.bottom-nav
					ul
						li
							p Link here
						li
							p |
						li
							p Link here
						li
							p |
						li
							p Link here
						li
							p |
						li
							p Link here
						li
							p |
						li
							p Link here
						li
							p |
						li
							p Link here
			.all-10.col-44-mr